.container {
    background: #eee;
    border: 1px solid #c00;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(45,42,43,0.75) 0 10px 10px 0;
    background-image: linear-gradient(
            to right,
            #c00,
            white 15%
    );

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;



}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}
@media (min-width: 200px) {
    .title{
        font-size: 30px;
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
    }

    .pubDate {
        font-size: 14px;
    }

}