.slugButton {
    background: #c00;
    color: #fff;
    font-size: 1rem;
    position: relative;
    /*bottom: 10px;*/
    /*right: 10px;*/
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;

    margin: 20px;

}

@media (min-width: 300px) {
    .slugButton{
        float: center;
        width: 50%;
        background-color:black;
    }
}

@media (min-width: 800px) {
    .slugButton{
        width: 90%;
        background-color: coral;
    }
}